@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="1"] {
  --text-color: white;
  --bg-color: #3a4764;
  --inputs-display-bg-color: #182034;
  --input-btn-text-color: #444b5a;
  --input-btn-bg-color: #eae3da;
  --input-btn-box-shadow: 0 4px #b1a399;
  --primary-color: #d03f2f;
  --secondary-color: #637097;
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #637097;
  --reset-btn-box-shadow: 0 4px #404e72;
  --equal-btn-text-color: white;
  --equal-btn-bg-color: #d03f2f;
  --equal-btn-box-shadow: 0 4px #93261a;
  --switch-justify: flex-start;
}


[data-theme="2"] {
  --text-color: #444b5a;
  --bg-color: #e6e6e6;
  --inputs-display-bg-color: #d1cccc;
  --input-btn-text-color: #444b5a;
  --input-btn-bg-color: #e5e4e1;
  --input-btn-box-shadow: 0 4px #a69d91;
  --primary-color: #ca5502;
  --secondary-color: #377f86;
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #377f86;
  --reset-btn-box-shadow: 0 4px #1b5f65;
  --equal-btn-text-color: white;
  --equal-btn-bg-color: #d03f2f;
  --equal-btn-box-shadow: 0 4px #893901;
  --switch-justify: center;
}

[data-theme="3"] {
   --text-color: white;
  --bg-color: #160628;
  --inputs-display-bg-color: #1D0934;
  --input-btn-text-color: #FFE53D;
  --input-btn-bg-color: #58077D;
  --input-btn-box-shadow: 0 4px #BC15F4;
  --primary-color: #00E0D1;
  --secondary-color: #377f86
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #377f86;
  --reset-btn-box-shadow: 0 4px #1b5f65;
  --equal-btn-text-color: white;
  --equal-btn-bg-color: #00E0D1;
  --equal-btn-box-shadow: 0 4px #6CF9F2;
  --switch-justify: flex-end;
}

.wrapper {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 345px;
  padding-left: 2px;
  margin-bottom: 15px;
}
header h1 {
  margin: 0 0 -10px 0;
  align-self: center;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  font-size: 12px;
}
.header-right p {
  margin: 20px 20px 0 0;
}
.theme-switch {
  display: grid;
  grid-template-columns: 1fr;
}
.switch-numbers {
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.switch-numbers span {
  width: 14px;
  text-align: center;
}
.theme-switcher {
  width: 50px;
  height: 14px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: var(--inputs-display-bg-color);
  justify-content: var(--switch-justify);
}
.theme-switcher-inner {
  height: 13px;
  width: 13px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
}

main {
  display: grid;
  grid-template-columns: auto;
  width: 345px;
  gap: 15px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--inputs-display-bg-color);
  color: var(--text-color);
}
.buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--inputs-display-bg-color);
}
input {
  font-size: 32px;
  font-weight: 700;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: var(--input-btn-text-color);
  background-color: var(--input-btn-bg-color);
  box-shadow: var(--input-btn-box-shadow);
}
#reset {
  grid-column: 1 / span 2;
  background-color: var(--reset-btn-bg-color);
  color: var(--reset-btn-text-color);
  box-shadow: var(--reset-btn-box-shadow);
}
#equal {
  grid-column: 3 / span 2;
  color: var(--equal-btn-text-color);
  background-color: var(--equal-btn-bg-color);
  box-shadow: var(--equal-btn-box-shadow);
}
