@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="1"] {
  --text-color: white;
  --bg-color: #3a4764;
  --inputs-display-bg-color: #182034;
  --input-btn-text-color: #444b5a;
  --input-btn-bg-color: #eae3da;
  --input-btn-box-shadow: 0 4px #b1a399;
  --primary-color: #d03f2f;
  --secondary-color: #637097;
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #637097;
  --reset-btn-box-shadow: 0 4px #404e72;
  --equal-btn-text-color: white;
  --equal-btn-bg-color: #d03f2f;
  --equal-btn-box-shadow: 0 4px #93261a;
  --switch-justify: flex-start;
}

[data-theme="2"] {
  --text-color: #444b5a;
  --bg-color: #e6e6e6;
  --inputs-display-bg-color: #d1cccc;
  --input-btn-text-color: #444b5a;
  --input-btn-bg-color: #e5e4e1;
  --input-btn-box-shadow: 0 4px #a69d91;
  --primary-color: #ca5502;
  --secondary-color: #377f86;
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #377f86;
  --reset-btn-box-shadow: 0 4px #1b5f65;
  --equal-btn-text-color: white;
  --equal-btn-bg-color: #d03f2f;
  --equal-btn-box-shadow: 0 4px #893901;
  --switch-justify: center;
}

[data-theme="3"] {
  --text-color: white;
  --bg-color: #160628;
  --inputs-display-bg-color: #1D0934;
  --input-btn-text-color: #FFE53D;
  --input-btn-bg-color: #58077D;
  --input-btn-box-shadow: 0 4px #BC15F4;
  --primary-color: #00E0D1;
  --secondary-color: #377f86
  --reset-btn-text-color: white;
  --reset-btn-bg-color: #58077D;
  --reset-btn-box-shadow: 0 4px #BC15F4;
  --equal-btn-text-color: #341C4F;
  --equal-btn-bg-color: #00E0D1;
  --equal-btn-box-shadow: 0 4px #6CF9F2;
  --switch-justify: flex-end;
}

